* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	overflow: hidden;
}

body {
	width: 1024px;
	font-family: 'Julius Sans One', 'Arial', 'sans-serif';
	margin: 0 auto;
	position: relative;
}

#frame {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1024px;
	height: 670px;
}

#intro {
	position: absolute;
}

#viz {
	display: none;
}

#data-frame {
	width: 874px;
	height: 440px;
}

.sides {
	width: calc( (100% - 874px) / 2 );
	height: 440px;
}

.sides ul li {
	margin-bottom: 22px;
}

#data-frame > * {
	width: 95px;
	height: 95px;
}

#top {
	height: 100px;
}

#bottom {
	height: 130px;
}

@media only screen and (min-width: 1280px) {
	body, #frame {
		width: 1280px;
	}
}

@media only screen and (min-width: 1600px) {
	body, #frame {
		width: 1600px;
	}
}

@media only screen and (min-width: 1920px) {
	body, #frame {
		width: 1920px;
	}
}




ul, li {
	list-style-type: none;
	margin:0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

a.current-search {
	background: yellow;
}

.sides {
	text-align: center;
	display: inline-block;
}

#left {
	float: left;
}

#right {
	float: right;
}

#data-frame {
	display: inline-block;
	background: black;
	overflow: hidden;
}

#data-frame p {
	float: left;
	overflow: hidden;
	background: #ddd;
}

#data-frame > * {
	margin: 7px;
	padding: 5px;
}

#data-frame > *:nth-child(8n+9) {
	clear:both;
}
#data-frame div {
	float: left;
	background-size: cover;
}

#top {
	position: relative;
}

#top ul {
	position: absolute;
	bottom: 40px;
	left: calc(50% - 80px);
	transform: translate(-50%, 0);
}

#top ul li {
	width: 30px;
	display: inline-block;
	transform: rotate(315deg) translate(25px, 51px);
}

#bottom {
	text-align: center;
	position: relative;
	padding-top: 35px;
}

#new-search-toggle {
	width: 200px;
	position: absolute;
	z-index: 2;
}

#research-infobox {
	position: relative;
}

/* active */
#research-emotions,
#research-keywords,
#research-submit-wrapper {
	transition: top .5s;
	top: 150px;
}
#research-emotions.active,
#research-keywords.active,
#research-submit-wrapper.active {
	top: 0;
}
#new-search-toggle.active {
	left: 0;
	transform: translate(0,0);
	transition: left .5s, transform .5s;
}
#new-search-toggle {
	left: 50%;
	transform: translate(-50%, 0);
	transition: left .5s, transform .5s;
}



#research-emotions,
#research-keywords {
	width: calc(50% - 200px);
	position: absolute;
}
#research-emotions {
	left: 200px;
}
#research-keywords {
	left: 50%;
}

#research-emotions p span,
#research-keywords p span {
	opacity: 0;
	transition: opacity .5s, background .5s .5s;
	background: yellow;
}
#research-emotions p span.visible,
#research-keywords p span.visible {
	opacity: 1;
	background: transparent;
}
#research-submit-wrapper {
	width: 200px;
	position: relative;
	float: right;
}
#research-submit {
	padding: 7px;
	background: yellow;
}
